#page-Workspaces .layout-main .layout-main-section {
    background-color: var(--subtle-fg) !important;
}

#page-Workspaces .codex-editor .codex-editor__redactor .ce-block .ce-block__content .widget.spacer {
    background: var(--subtle-fg) !important;
    height: 0px !important;
    padding: 0 !important;
}

#page-Workspaces .shortcut-widget-box {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

#page-Workspaces .workspace-footer .btn-default {
    background-color: white;
}